body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #242571;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 2em;
}

.titlePage{
    margin-left: 500px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    color: white;
    text-align: center;
    padding: 4em 0;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.hero p {
    font-size: 1.2em;
    margin: 1em 0;
    color: #333;
}

.btn {
    background-color: #ff6b6b;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #242571;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

.foto {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 30%;
    margin-left: 10px;
    
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 400px;
}

.title-container {
    display: flex;
    align-items: center;
}

.Gestiones {
    text-align: left;
    margin: 5px;
}
.Gestiones button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.Gestiones button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;

}
form {
    max-width: 290px;
    margin: 2px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
form div {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="date"],
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.Logout-btn {
    font-weight: bold;
    color: #ffffff;
    margin-left: 400px;
    
}