body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

header {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.titlePage{
    margin-left: 650px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    color: white;
    text-align: center;
    padding: 4em 0;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.hero p {
    font-size: 1.2em;
    margin: 1em 0;
    color: #333;
}

.btn {
    background-color: #ff6b6b;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}


footer {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer .registrarse-link h5, footer .registrarse-link h6 {
    margin: 5px 0;
}

footer .registrarse-link a {
    color: #007BFF;
    text-decoration: none;
}

.foto {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 30%;
    margin-left: 10px;
    
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 400px;
}

.title-container {
    display: flex;
    align-items: center;
}

.login-btn {
    font-weight: bold;
    color: #ffffff;
    margin-left: 400px;
    
}

